<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.iios.expansion-wing-unattended-tuesday</string>
  <key>ProgramArguments</key><array><string>__FIXED_PYTHON__</string><string>-m</string><string>expansion_wing.unattended_tuesday_service</string><string>--operational-supervisor</string></array>
  <key>WorkingDirectory</key><string>__FIXED_WORKTREE__/BACK END/backend</string>
  <key>EnvironmentVariables</key><dict><key>PYTHONPATH</key><string>__FIXED_WORKTREE__/BACK END/backend</string></dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>__OWNER_ONLY_LOG__</string>
  <key>StandardErrorPath</key><string>__OWNER_ONLY_LOG__</string>
  <key>ThrottleInterval</key><integer>60</integer>
</dict></plist>
